<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hxy.mybatis.dao.EmployeeMapper">

    <!--
        namespace:名称空间;指定为接口的全类名
        id:标签唯一标识
        resultType：返回值类型
        #{id}:从传递过来的参数中取出id值

        public Employee getEmployeeById(Integer id);
    -->

    <select id="getEmployeeById" resultType="org.hxy.mybatis.bean.Employee">
        select * from tb1_employee where id = #{id}
    </select>
</mapper>