<component name="ArtifactManager">
  <artifact type="exploded-war" name="MyBatis_o6_SSM:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/MyBatis_o6_SSM_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="MyBatis_o6_SSM/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MyBatis_o6_SSM" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="MySSM" />
        </element>
      </element>
    </root>
  </artifact>
</component>