<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC-1:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_1_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVC-1/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC-1" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.13.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.13.RELEASE" />
          <element id="library" level="project" name="jstl" />
        </element>
      </element>
    </root>
  </artifact>
</component>